name: testing

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  rust:
    runs-on: ubuntu-latest
    container: ubuntu:24.04
    steps:
      - uses: actions/checkout@v4

      - name: Install CI tools
        run: |
          apt-get update
          apt-get install -y curl build-essential

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - uses: extractions/setup-just@v2

      - name: Verify code formatting
        run: cargo fmt --all -- --check -q

      - name: Clippy linting
        run: cargo clippy --features all

      - name: Run tests
        run: cargo clean && just test-ci && cargo clean

      - name: Test build docs
        run: cargo doc --no-deps --features all